CompileFlags:
  Compiler: clang
  Add:
    - -x
    - c++
    - -std=c++17
    - -IC:/dev/model-converter/build/_deps/glm-src
    - -IC:/dev/model-converter/build/_deps/xxhash_cpp-src/include
    - -IC:/dev/model-converter/build/_deps/assimp-src/include
    - -IC:/dev/model-converter/build/_deps/assimp-build/include
    - -IC:/dev/model-converter/build/_deps/assimp-src/code/../include
    - -IC:/dev/model-converter/build/_deps/assimp-build/code/../include
